{{!-- {{#each blogs as |blog|}}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"> {{blog.title}}</h5>
        <h4>Created By: {{user.username}}</h4>
        <p class="card-text">
            {{blog.content}}
        <div class="card">
            <div class="card-body">
                {{blog.content}}
                {{comment.comment_text}}
            </div>
            <footer class="blockquote-footer">{{date_created}}<cite title="Source Title">{{user.username}}</cite>
            </footer>
        </div>
        </p>
        <a href="addcomment.handlebars" id="addComment" class="card-link">Add Comment</a>
        <a href="/delete" id="deleteComment" class="card-link">Delete Comment</a>
    </div>
</div>
{{/each}} --}}


{{#if logged_in}}
<div class="text-center">
    <h2>{{blog.title}}</h2>
    <h2>{{username}}</h2>
    <br>
    <p>Created By {{user.username}} on {{date_created}}</p>
    <p> 
      
        {{#each comments}}
    <p>Comments:{{comment_text}}by:{{username}}</p>
    <p>{{date_created}}</p>
   
    <div class="edit-comment"><a href="/editcomment/{{id}}"><button class="btn btn-sm btn-danger" data-id="{{id}}">EDIT
                COMMENT</button></a></div>
  
    <form id="delCom" data-id="{{id}}"><button type="submit" class="btn btn-sm btn-danger" id="deletebtn"
            data-id="{{id}}">DELETE COMMENT</button></form>

 
    {{/each}}
    </p>
  
<div class="add-comment"><a href="/addcomment/{{id}}"><button class="btn btn-sm btn-success" data-id="{{id}}">ADD
            COMMENT</button></a></div>


<div class="update-post"><a href="/editpost/{{id}}"><button class="btn btn-sm btn-success"
            data-id="{{id}}">UPDATE</button></a></div>
</div>
{{else}}
<div class="text-center">
    <h2>{{title}}</h2>
    <p>Created By{{user.email}}OR{{id}}on{{date}}</p>
    <p>
        {{post}}
    </p>
</div>
{{/if}}


<script src="/js/deleteComment.js"></script>