
<h1>Hi,{{user.username}}</h1>
<div>
<h2>Add New Blog:</h2>
<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Blog</h3>

    {{!-- <form class="form new-post-form"> --}}
      <div class="form-group">
        <label for="blog-title">Blog title:</label>
        <input class="form-input" type="text" id="blog-title" name="blog-title" />
      </div>
      <div class="form-group">
        <label for="post-content">Post Blog:</label>
        <textarea class="form-input" type="text" id="blog-content" name="blog-content"></textarea>
      </div>
      <div class="form-group">
        <button id="submitbtn" class="btn btn-primary">Publish</button>
      </div>
    {{!-- </form> --}}
  </div>
 

    {{!-- {{#if blogs.length}}
  <div class="col-md-6 post-list">
    <h3>Current blogs:</h3>

    {{#each blogs }}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/post/{{id}}">{{title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{id}}">DELETE</button>
        {{!-- <div class="update-post"><button class="btn btn-sm btn-danger" data-id="{{id}}">UPDATE</button></div> --}}

      {{!-- </div>
    </div>
    {{/each}}
  </div>

  <p>no blogs by {{name}}</p>
  {{/if}}
</div>
 --}} 


<script src="./js/blog.js"></script>