
<h1>Edit Comment</h1>
<form data-id="{{id}}" class="editComment">
<textarea class="updateComment" placeholder="{{comment_text}}"></textarea>
{{!-- <textarea class="updateCom" placeholder="{{comment.comment_text}}"></textarea> --}}
{{!-- <button data-id="{{comment.id}}" type="submit" class="btn btn-primary update-post">UPDATE</button> --}}
<button data-id="{{id}}" type="submit" class="btn btn-primary update-post">UPDATE</button>
</form>
<script src="/js/editcomment"></script>